appdirs==1.4.4
apsw==3.36.0.post1
argcomplete==1.12.3
attrs==21.2.0
aubio==0.4.9
backports.entry-points-selectable==1.1.0
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.4.2
blivet-gui==2.3.0
Brlapi==0.8.2
Brotli==1.0.9
cchardet==2.1.7
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
chrome-gnome-shell==0.0.0
click==8.0.1
colorama==0.4.4
cryptography==3.4.7
css-parser==1.0.6
cupshelpers==1.0
cycler==0.10.0
dasbus==1.6
dbus-python==1.2.18
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
ecdsa==0.17.0
fedora-third-party==0.8
feedparser==6.0.6
filelock==3.3.2
fonttools==4.26.1
fros==1.1
fs==2.4.11
gattlib==0.20201113
gitdb==4.0.5
GitPython==3.1.14
gpg==1.15.1
greenlet==1.1.1
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httplib2==0.19.1
humanize==0.5.1
idna==3.2
ifaddr==0.1.7
img2pdf==0.4.1
jeepney==0.7.1
jsonschema==3.2.0
kiwisolver==1.3.2
langtable==0.0.56
libcomps==0.1.18
libvirt-python==7.6.0
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.0
matplotlib==3.5.0
mechanize==0.4.7
msgpack==1.0.2
munkres==1.1.2
netifaces==0.10.6
nftables==0.1
ntplib==0.3.3
numpy==1.21.1
odfpy==1.4.1
olefile==0.46
openshot-qt==2.6.1.dev0
ordered-set==4.0.1
packaging==21.0
Paste==3.5.0
pbr==5.6.0
pdfarranger==1.7.1
pexpect==4.8.0
pid==2.2.3
pikepdf==4.0.1
Pillow==8.3.2
pip==21.2.3
platformdirs==2.4.0
ply==3.11
productmd==1.33
psutil==5.8.0
ptyprocess==0.6.0
pwquality==1.4.4
PyAudio==0.2.11
PyBluez==0.23
pycairo==1.20.1
pychm==0.8.6
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.44.1
pyenchant==3.2.2
pygame==2.1.0
Pygments==2.9.0
PyGObject==3.42.0
pyinotify==0.9.6
pykickstart==3.34
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyparted==3.11.7
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.2
pyrsistent==0.18.0
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.1
python-meh==0.50
python-xlib==0.31
pytz==2021.3
pyudev==0.22.0
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.2.1
regex==2021.10.23
requests==2.26.0
requests-file==1.5.1
requests-ftp==0.3.1
rpm==4.17.0
scipy==1.7.0
selinux==3.3
Send2Trash==1.7.1
sepolicy==3.3
setools==4.4.0
setuptools==57.4.0
sgmllib3k==1.0.0
simpleaudio==1.0.4
simplejson==3.17.2
simpleline==1.8.2
six==1.16.0
slip==0.6.4
slip.dbus==0.6.4
smmap==3.0.1
solaar==1.1.0
sos==4.2
soupsieve==2.3.1
SQLAlchemy==1.4.27
SSSDConfig==2.6.1
stevedore==3.3.0
systemd-python==234
Tempita==0.5.2
termcolor==1.1.0
urllib3==1.26.6
virtualenv==20.8.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.2
webencodings==0.5.1
youtube-dl==2021.6.6
zeroconf==0.36.9
