<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ranking</title>
</head>
<body>
    <h1>{{ board_name }} Fairank™</h1>
    <h3>Last Updated {{ last_updated }} CET</h3>
    <br/>
    <table>
        <thead>
            <td></td>
            <td><b>NAME</b></td>
            <td><b>FAIRANK™</b></td>
            <td><b>STARS</b></td>
            <td><b>COMPETITIVE DAYS</b></td>
            <td><b>AVERAGE SPEED RANK</b></td>
            <td><b>BEST GOLD STAR</b></td>
        </thead>
        <tbody>
            {%- for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.name }}</td>
                <td>{{ "%03.3f" | format(user.fair_rank) }}</td>
                <td>{{ user.stars }}</td>
                <td>{{ user.gold_star_within_day | length }}</td>
                <td>{{ "%03.3f" | format(user.avg_rank) }}</td>
                <td>{{ user.gold_sentence }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</body>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        height: 2.5em;
    }

    tr:nth-child(even) {
        background-color: Lightgreen;
    }

    h1, h3 {
        text-align: center;
    }
</style>
</html>
