<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ranking</title>
</head>
<body>
    <table>
        <thead>
            <td>NAME</td>
            <td>FAIRANK™</td>
            <td>STARS</td>
            <td>COMPETITIVE DAYS</td>
            <td>AVERAGE SPEED RANK</td>
            <td>BEST GOLD STAR</td>
        </thead>
        <tbody>
            {%- for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ "%03.3f" | format(user.fair_rank) }}</td>
                <td>{{ user.stars }}</td>
                <td>{{ user.gold_star_within_day | length }}</td>
                <td>{{ "%03.3f" | format(user.avg_rank) }}</td>
                <td>{{ user.gold_sentence }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>
</body>
</html>
